body, h1, h3, h4, h5, p, a, nav, .information {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

 section,nav,.title_container,.image,.button,.information,.information div,.blue_div{
    display: flex;
}

section {
    flex-direction: column;
    align-items: center;
}
    
.hero, footer { 
   background-color: #1f2937;
   color:#f9faf8;
}

nav {
    gap: 20px;
    padding-top: 10px;
    width: 76%;
}

h3 {
    font-size: 24px;
    color:#f9faf8;
    font-weight: 800;
    flex:1;
}

 .hero p, .blue_div p, a {
    font-size: 18px;
    color: #e5e7eb;
}

.title_container {
    width:76%;
    margin: 130px auto;
    gap: 50px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

 .hero .image {
    background-color: #6b727e;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    flex-basis: 45%;
}    

.button {
    background-color: #3882f6;
    width: 130px;
    height: 37px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

h2 {
   color: #1f2937;
   font-weight: 800;
   font-size: 36px;
   margin: 55px;
}

.information {
    width: 63%;
    height:230px;
    gap: 50px;
    margin-bottom: 110px;
    color: #626874;
    font-size: 18px;
}

.information div {
  text-align: center;
  flex-direction: column;
  gap: 5px;
}

.information .image {
    border: 4px solid #3882f6;
    border-radius: 15px;
    flex: 1;
}

.quote-section {
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
}

.quote-section div {
    width: 60%;
    margin-top: 120px;
    margin-bottom: 90px;
}

h4 {
    text-align: end;
    margin-right: 40px;
    font-size: 23px;
}

.blue_div {
    color:#f9faf8;
    background-color: #3882f6;
    align-items: center;
    width: 76%;
    margin: 90px auto;
    border-radius: 7px;
}

.blue_div div {
    margin: 50px auto;
}

h5 {
    font-size: 27px;
}

.blue_div .button {
    border: 2px solid #f9faf8;
}

footer{
    text-align: center;
    padding: 35px;
    font-size: 18px;
}






